// Constant
.@{mw-prefix}{
    font-family: 'mw-icons';
    speak: none;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    font-style: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
}


//background circle
.@{mw-prefix}-circle:before {
    content: @mw-var-circle;
}


//circle icons
.@{mw-prefix}-about-outline:before {
    content: @mw-var-about-outline;
}
.@{mw-prefix}-about-solid:before {
    content: @mw-var-about-solid;
}
.@{mw-prefix}-accessories-outline:before {
    content: @mw-var-accessories-outline;
}
.@{mw-prefix}-accessories-solid:before {
    content: @mw-var-accessories-solid;
}
.@{mw-prefix}-anesthesia-outline:before {
    content: @mw-var-anesthesia-outline;
}
.@{mw-prefix}-anesthesia-solid:before {
    content: @mw-var-anesthesia-solid;
}
.@{mw-prefix}-apple-outline:before {
    content: @mw-var-apple-outline;
}
.@{mw-prefix}-apple-solid:before {
    content: @mw-var-apple-solid;
}
.@{mw-prefix}-batteries-outline:before {
    content: @mw-var-batteries-outline;
}
.@{mw-prefix}-batteries-solid:before {
    content: @mw-var-batteries-solid;
}
.@{mw-prefix}-calendar-outline:before {
    content: @mw-var-calendar-outline;
}
.@{mw-prefix}-calendar-solid:before {
    content: @mw-var-calendar-solid;
}
.@{mw-prefix}-crowns-outline:before {
    content: @mw-var-crowns-outline;
}
.@{mw-prefix}-crowns-solid:before {
    content: @mw-var-crowns-solid;
}
.@{mw-prefix}-dental-implants-outline:before {
    content: @mw-var-dental-implants-outline;
}
.@{mw-prefix}-dental-implants-solid:before {
    content: @mw-var-dental-implants-solid;
}
.@{mw-prefix}-dentistry-tools-outline:before {
    content: @mw-var-dentistry-tools-outline;
}
.@{mw-prefix}-dentistry-tools-solid:before {
    content: @mw-var-dentistry-tools-solid;
}
.@{mw-prefix}-finance-outline:before {
    content: @mw-var-finance-outline;
}
.@{mw-prefix}-finance-solid:before{
    content: @mw-var-finance-solid;
}
.@{mw-prefix}-floss-outline:before {
    content: @mw-var-floss-outline;
}
.@{mw-prefix}-floss-solid:before {
    content: @mw-var-floss-solid;
}
.@{mw-prefix}-forms-outline:before {
    content: @mw-var-forms-outline;
}
.@{mw-prefix}-forms-solid:before {
    content: @mw-var-forms-solid;
}
.@{mw-prefix}-invisalign-outline:before {
    content: @mw-var-invisalign-outline;
}
.@{mw-prefix}-invisalign-solid:before {
    content: @mw-var-invisalign-solid;
}
.@{mw-prefix}-kite-outline:before {
    content: @mw-var-kite-outline;
}
.@{mw-prefix}-kite-solid:before {
    content: @mw-var-kite-solid;
}
.@{mw-prefix}-laptop-outline:before {
    content: @mw-var-laptop-outline;
}
.@{mw-prefix}-laptop-solid:before {
    content: @mw-var-laptop-solid;
}
.@{mw-prefix}-lifestyles-outline:before {
    content: @mw-var-lifestyles-outline;
}
.@{mw-prefix}-lifestyles-solid:before {
    content: @mw-var-lifestyles-solid;
}
.@{mw-prefix}-lips-outline:before {
    content: @mw-var-lips-outline;
}
.@{mw-prefix}-lips-solid:before {
    content: @mw-var-lips-solid;
}
.@{mw-prefix}-location-outline:before {
    content: @mw-var-location-outline;
}
.@{mw-prefix}-location-solid:before {
    content: @mw-var-location-solid;
}
.@{mw-prefix}-news-outline:before {
    content: @mw-var-news-outline;
}
.@{mw-prefix}-news-solid:before {
    content: @mw-var-news-solid;
}
.@{mw-prefix}-people-outline:before {
    content: @mw-var-people-outline;
}
.@{mw-prefix}-people-solid:before {
    content: @mw-var-people-solid;
}
.@{mw-prefix}-quick-crowns-outline:before {
    content: @mw-var-quick-crowns-outline;
}
.@{mw-prefix}-quick-crowns-solid:before {
    content: @mw-var-quick-crowns-solid;
}
.@{mw-prefix}-reviews-outline:before {
    content: @mw-var-reviews-outline;
}
.@{mw-prefix}-reviews-solid:before {
    content: @mw-var-reviews-solid;
}
.@{mw-prefix}-sedation-outline:before {
    content: @mw-var-sedation-outline;
}
.@{mw-prefix}-sedation-solid:before {
    content: @mw-var-sedation-solid;
}
.@{mw-prefix}-six-month-smile-outline:before {
    content: @mw-var-six-month-smile-outline;
}
.@{mw-prefix}-six-month-smile-solid:before {
    content: @mw-var-six-month-smile-solid;
}
.@{mw-prefix}-smile-outline:before {
    content: @mw-var-smile-outline;
}
.@{mw-prefix}-smile-solid:before {
    content: @mw-var-smile-solid;
}
.@{mw-prefix}-tinnitus-outline:before {
    content: @mw-var-tinnitus-outline;
}
.@{mw-prefix}-tinnitus-solid:before {
    content: @mw-var-tinnitus-solid;
}
.@{mw-prefix}-tooth-health-outline:before {
    content: @mw-var-tooth-health-outline;
}
.@{mw-prefix}-tooth-health-solid:before {
    content: @mw-var-tooth-health-solid;
}
.@{mw-prefix}-tooth-shield-outline:before {
    content: @mw-var-tooth-shield-outline;
}
.@{mw-prefix}-tooth-shield-solid:before {
    content: @mw-var-tooth-shield-solid;
}
.@{mw-prefix}-tooth-sparkle-outline:before {
    content: @mw-var-tooth-sparkle-outline;
}
.@{mw-prefix}-tooth-sparkle-solid:before {
    content: @mw-var-tooth-sparkle-solid;
}
.@{mw-prefix}-toothbrush-toothpaste-outline:before {
    content: @mw-var-toothbrush-toothpaste-outline;
}
.@{mw-prefix}-toothbrush-toothpaste-solid:before {
    content: @mw-var-toothbrush-toothpaste-solid;
}
.@{mw-prefix}-types-outline:before {
    content: @mw-var-types-outline;
}
.@{mw-prefix}-types-solid:before {
    content: @mw-var-types-solid;
}
.@{mw-prefix}-umbrella-outline:before {
    content: @mw-var-umbrella-outline;
}
.@{mw-prefix}-umbrella-solid:before {
    content: @mw-var-umbrella-solid;
}
.@{mw-prefix}-veneers-outline:before {
    content: @mw-var-veneers-outline;
}
.@{mw-prefix}-veneers-solid:before {
    content: @mw-var-veneers-solid;
}


//hearing aid types features icons
.@{mw-prefix}-features-active:before {
    content: @mw-var-features-active;
}
.@{mw-prefix}-features-aid-with-ear:before {
    content: @mw-var-features-aid-with-ear;
}
.@{mw-prefix}-features-battery:before {
    content: @mw-var-features-battery;
}
.@{mw-prefix}-features-bluetooth:before {
    content: @mw-var-features-bluetooth;
}
.@{mw-prefix}-features-breahtable:before {
    content: @mw-var-features-breathable;
}
.@{mw-prefix}-features-buttons:before {
    content: @mw-var-features-buttons;
}
.@{mw-prefix}-features-buzzing:before {
    content: @mw-var-features-buzzing;
}
.@{mw-prefix}-features-ear-mold:before {
    content: @mw-var-features-ear-mold;
}
.@{mw-prefix}-features-invisible:before {
    content: @mw-var-features-invisible;
}
.@{mw-prefix}-features-levels:before {
    content: @mw-var-features-levels;
}
.@{mw-prefix}-features-lightweight:before {
    content: @mw-var-features-lightweight;
}
.@{mw-prefix}-features-location:before {
    content: @mw-var-features-location;
}
.@{mw-prefix}-features-natural-sound:before {
    content: @mw-var-features-natural-sound;
}
.@{mw-prefix}-features-popular:before {
    content: @mw-var-features-popular;
}
.@{mw-prefix}-features-powerful:before {
    content: @mw-var-features-powerful;
}
.@{mw-prefix}-features-search:before {
    content: @mw-var-features-search;
}


//standalone forms icon
.@{mw-prefix}-forms:before {
    content: @mw-var-forms;
}