.icon-rotate(@degrees, @rotation) {
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=@rotation);
    -webkit-transform: rotate(@degrees);
    -ms-transform: rotate(@degrees);
    transform: rotate(@degrees);
}