/*
 * FONT PATH
 */

@font-face {
    font-family: 'mw-icons';
    src: url('@{mw-font-path}/mw-icons.eot');
    src: url('@{mw-font-path}/mw-icons.eot?#iefix') format('embedded-opentype'),
    url('@{mw-font-path}/mw-icons.woff') format('woff'),
    url('@{mw-font-path}/mw-icons.ttf') format('truetype'),
    url('@{mw-font-path}/mw-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}