@mw-font-path:       "../fonts";
@mw-prefix:          mw;


//background circle
@mw-var-circle: '\e60c';


//circle icons
@mw-var-about-outline: '\e600';
@mw-var-about-solid: '\e601';
@mw-var-accessories-outline: '\e602';
@mw-var-accessories-solid: '\e603';
@mw-var-anesthesia-outline: '\e604';
@mw-var-anesthesia-solid: '\e605';
@mw-var-apple-outline: '\e606';
@mw-var-apple-solid: '\e607';
@mw-var-batteries-outline: '\e608';
@mw-var-batteries-solid: '\e609';
@mw-var-calendar-outline: '\e60a';
@mw-var-calendar-solid: '\e60b';
@mw-var-crowns-outline: '\e60d';
@mw-var-crowns-solid: '\e60e';
@mw-var-dental-implants-outline: '\e60f';
@mw-var-dental-implants-solid: '\e610';
@mw-var-dentistry-tools-outline: '\e611';
@mw-var-dentistry-tools-solid: '\e612';
@mw-var-finance-outline: '\e623';
@mw-var-finance-solid: '\e624';
@mw-var-floss-outline: '\e625';
@mw-var-floss-solid: '\e626';
@mw-var-forms-outline: '\e627';
@mw-var-forms-solid: '\e628';
@mw-var-invisalign-outline: '\e62a';
@mw-var-invisalign-solid: '\e62b';
@mw-var-kite-outline: '\e62c';
@mw-var-kite-solid: '\e62d';
@mw-var-laptop-outline: '\e62e';
@mw-var-laptop-solid: '\e62f';
@mw-var-lifestyles-outline: '\e630';
@mw-var-lifestyles-solid: '\e631';
@mw-var-lips-outline: '\e632';
@mw-var-lips-solid: '\e633';
@mw-var-location-outline: '\e634';
@mw-var-location-solid: '\e635';
@mw-var-news-outline: '\e636';
@mw-var-news-solid: '\e637';
@mw-var-people-outline: '\e638';
@mw-var-people-solid: '\e639';
@mw-var-quick-crowns-outline: '\e63a';
@mw-var-quick-crowns-solid: '\e63b';
@mw-var-reviews-outline: '\e63c';
@mw-var-reviews-solid: '\e63d';
@mw-var-sedation-outline: '\e63e';
@mw-var-sedation-solid: '\e63f';
@mw-var-six-month-smile-outline: '\e640';
@mw-var-six-month-smile-solid: '\e641';
@mw-var-smile-outline: '\e642';
@mw-var-smile-solid: '\e643';
@mw-var-tinnitus-outline: '\e644';
@mw-var-tinnitus-solid: '\e645';
@mw-var-tooth-health-outline: '\e646';
@mw-var-tooth-health-solid: '\e647';
@mw-var-tooth-shield-outline: '\e648';
@mw-var-tooth-shield-solid: '\e649';
@mw-var-tooth-sparkle-outline: '\e64a';
@mw-var-tooth-sparkle-solid: '\e64b';
@mw-var-toothbrush-toothpaste-outline: '\e64c';
@mw-var-toothbrush-toothpaste-solid: '\e64d';
@mw-var-types-outline: '\e64e';
@mw-var-types-solid: '\e64f';
@mw-var-umbrella-outline: '\e650';
@mw-var-umbrella-solid: '\e651';
@mw-var-veneers-outline: '\e652';
@mw-var-veneers-solid: '\e653';


//hearing aid types features icons
@mw-var-features-active: '\e613';
@mw-var-features-aid-with-ear: '\e614';
@mw-var-features-battery: '\e615';
@mw-var-features-bluetooth: '\e616';
@mw-var-features-breathable: '\e617';
@mw-var-features-buttons: '\e618';
@mw-var-features-buzzing: '\e619';
@mw-var-features-ear-mold: '\e61a';
@mw-var-features-invisible: '\e61b';
@mw-var-features-levels: '\e61c';
@mw-var-features-lightweight: '\e61d';
@mw-var-features-location: '\e61e';
@mw-var-features-natural-sound: '\e61f';
@mw-var-features-popular: '\e620';
@mw-var-features-powerful: '\e621';
@mw-var-features-search: '\e622';


//standalone forms icon
@mw-var-forms: '\e629';